<h1>Register a new account:</h1>

<form action="/register" method="POST">
    Username:
    <input type="text" name="username">
    <br>
    {{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
    {{/if}}
    <br>
    Password: <input type="text" name="password">
    <br><br>
    <button type="submit">Submit</button>
</form>